body {
    background: url("http://img.moviepilot.com/assets/tarantulaV2/article_images/So%2BTHAT%2BS%2Bwhat%2BThe%2BRock%2Bwas%2Bcooking-56cc7b-4802200_1391597457.jpg");
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    vertical-align: middle;
    }
